*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont{
  background-color: rgb(255, 106, 80);
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: 'Titillium Web', sans-serif;
 font-size: 4rem;
 height: 100vh;
 line-height: 1.2 ;
}
.btn{
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 12px 39px;
  border-radius: 15px;
  cursor: pointer;
}